<div id="game" ng-class="gameState">

	<cah-card-stack
		cards="hand" selected="selectedCards" n-selectable="nBlanks()"
	></cah-card-stack>

	<div ng-if="gameState == 'reveal' || amCzar" id="czar">
		<div ng-show="amCzar && gameState == 'intermission'" id="czar_choose">
			<h2>Your turn:</h2>
			<button ng-click="drawBlack()">Draw a card.</button>
			<button>Write your own card.</button>
		</div>
		<cah-card-stack cards="revealCards" ng-if="gameState == 'reveal'"></cah-card-stack>
	</div>
	<div ng-if="!!blackCard" id="black">
		<div class="card">
			{{blackCard.join('________')}}
			<button ng-click="playCards()" ng-if="gameState == 'play' && selectedCards.length === nBlanks()" id="gogogo">
				Play {{nBlanks() == 1 ? 'it' : '&lsquo;em'}}.
			</button>
		</div>
	</div>
	<div id="scoresWrapper">
		<table id="scores"><tr>
			<td ng-repeat="player in players">
				<div class="score">{{player.score}}</div>
				<div class="name">{{player.name}}</div>
			</td>
		</tr></table>
	</div>
</div>
